<!DOCTYPE html>

<html>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <title>Student Database</title>

</head>

<body>
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
        <form class="form-inline" action="http://127.0.0.1:8080/blog_posts/search" method="POST"> {% csrf_token %}
            <div class="container">
                <div class="mb-1">
                    <input class="query-search" id="search" name="search" type="number" placeholder="Search student ID">
                    <button class="search-btn">Search</button>
                </div>
            </div>
        </form>

        <ul class="navbar-nav ">
            <li class="nav-item ">
                <a class="nav-link " href="http://127.0.0.1:8080/blog_posts/home ">Home</a>
            </li>
            <li class="nav-item ">
                <a class="nav-link " href="http://127.0.0.1:8080/admin">Admin Dashboard</a>
            </li>
            <li class="nav-item ">
                <a class="nav-link " href="http://127.0.0.1:8080/blog_posts/new">Create Student Record</a>
            </li>
            <li class="nav-item ">
                <a class="nav-link " href="http://127.0.0.1:8080/blog_posts/update">Update / Delete Student Record</a>
            </li>
            <li class="nav-item ">
                <a class="nav-link " href="#">Add / Update Student Details</a>
            </li>
            <li class="nav-item ">
                <a class="nav-link " href="#">Add / update Student Subjects</a>
            </li>
            <li class="nav-item ">
                <a class="nav-link " href="#">Library Room</a>
            </li>
            <li class="nav-item ">
                <a class="nav-link " href="#">Help Desk</a>
            </li>
            <li class="nav-item ">
                <a class="nav-link " href="#">Contact</a>
            </li>

        </ul>
    </nav>
    {% block content %} {% endblock %}
</body>

</html>