{% extends 'blog_posts/main.html' %} {% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <br>
            <h3 class="text-center">Student Lists</h3>
            <table class="table table-bordered table-striped table-hover">
                <thead class="thead-dark">
                    <tr>
                        <th>St. ID</th>
                        <th>Name</th>
                        <th>Student Roll No</th>
                        <th>Student Class No.</th>
                        <th>Student Dept.</th>
                    </tr>
                </thead>
                <tbody>
                    {% for post in object_list %}
                    <tr>
                        <td>
                            {{post.id}}
                        </td>
                        <td>
                            {{post.name}}
                        </td>
                        <td>
                            {{post.roll_no}}
                        </td>
                        <td>
                            {{post.stud_class}}
                        </td>
                        <td>
                            {{post.department}}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>

            <button button type="button " class="btn btn-link "><a href="http://127.0.0.1:8080/blog_posts/new ">Create new student record</a></button>
        </div>
    </div>
</div>
{% endblock %}

</body>

</html>