<html lang="en">

<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>

<form action="http://127.0.0.1:8080/blog_posts/new" method="POST"> {% csrf_token %} {% if messages %} {% for message in messages %}
    <div class="container-fluid p-0">
        <div class="alert {{ message.tags }} alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button> {{ message }}
        </div>
    </div>
    {% endfor %} {% endif %}

    <div class="container mt-5">
        <div class="mb-3">
            <label for="name" class="form-label">name: </label>
            <input type="text" class="form-control" id="name" name="name" placeholder="Enter name" required>
        </div>
        <br>
        <div class="mb-3">
            <label for="roll_no" class="form-label">roll_no: </label>
            <input type="number" class="form-control" id="roll_no" name="roll_no" placeholder="Enter roll no" required>
        </div>
        <br>
        <div class="mb-3">
            <label for="stud_class" class="form-label">stud_class: </label>
            <input type="number" class="form-control" id="stud_class" name="stud_class" placeholder="Enter student class no." required>
        </div>
        <br>
        <div class="mb-3">
            <label for="department" class="form-label">department: </label>
            <input type="text" class="form-control" id="department" name="department" placeholder="Enter Department" required>
        </div>
        <br>
        <button type="submit" class="btn btn-primary">Submit</button>
        <br><br>
        <button type="home" class="btn">
            <a href="http://127.0.0.1:8080/blog_posts/home">Home</a>
        </button>
    </div>
</form>

</html>